.App {
  text-align: center;
}




/* CREATE POST PAGE CSS */

.create_order_page {
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: verdana, 'open sans', sans-serif;
}
.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  height: auto;
  padding: 20px;
  border: 5px solid darkslategrey;
  border-radius: 5px;
  font-family: verdana, 'open sans', sans-serif;
}

.formContainer #inputCreateSupply {
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid grey;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 20px;
}

.formContainer button {
  margin-top: 15px;
  height: 40px;
  border: none;
  background-color: darkslategrey;
  border-radius: 5px;
  color: white;
}

.formContainer button:hover {
  cursor: pointer;
  background-color: dodgerblue;
}

span {
  color: red;
}

.navbar {
  width: 100%;
  height: 70px;
  background-color: darkslategrey;
  display: flex;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
  margin-left: 20px;
  text-decoration: none;
  color: white;
  font-family: verdana, 'open sans', sans-serif;
}

.navbar .loggedInContainer {
  flex: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: verdana, 'open sans', sans-serif;
  margin-right: 10px;
}

.buttonLogout {
  width: 200px;
  height: 50px;
  border-radius: 8px;
  border: none;
  margin: 10px;
  position: relative;
  display: inline-block;
  font-size: 90%;
  font-weight: 700;
  color: white;
  text-decoration: none;
  text-shadow: 0 -1px 2px rgba(0,0,0,.2);
  padding: .5em 1em;
  outline: none;
  background: linear-gradient(rgb(110,112,120), rgb(81,81,86)) rgb(110,112,120);
  box-shadow:
          0 1px rgba(255,255,255,.2) inset,
          0 3px 5px rgba(0,1,6,.5),
          0 0 1px 1px rgba(0,1,6,.2);
  transition: .2s ease-in-out;
  font-family: verdana, 'open sans', sans-serif;
}
.buttonLogout:hover:not(:active) {
  background: linear-gradient(rgb(126,126,134), rgb(70,71,76)) rgb(126,126,134);
}
.buttonLogout:active {
  top: 1px;
  background: linear-gradient(rgb(76,77,82), rgb(56,57,62)) rgb(76,77,82);
  box-shadow:
          0 0 1px rgba(0,0,0,.5) inset,
          0 2px 3px rgba(0,0,0,.5) inset,
          0 1px 1px rgba(255,255,255,.1);
}

.loginContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding-top: 100px;
}

.createSupply {
  background-color: darkslategrey;
  width: 200px;
  height: 50px;
  border-radius: 8px;
  border: none;
  margin: 10px;
  color: white;
}

.filter_parent {
  height: 140px;
  margin-bottom: 280px;
}

.filter {
  height: 100px;
  display: inline-block;
  width: 50%;
}

.table{
  border: 1px solid #eee;
  table-layout: fixed;
  width: 100%;
  margin-bottom: 20px;
}
.table th {
  font-weight: bold;
  font-family: verdana, 'open sans', sans-serif;
  padding: 5px;
  background: #efefef;
  border: 1px solid #dddddd;
}
.table td{
  padding: 5px 10px;
  border: 1px solid #eee;
  text-align: center;
  font-family: verdana, 'open sans', sans-serif;
}
.table tbody tr:nth-child(odd){
  background: #fff;
}
.table tbody tr:nth-child(even){
  background: #F7F7F7;
}

.inp {
  display:block;
  width:100%;
  margin:10px 0;
  padding:10px;
  border-radius:10px;
  border: 1px solid black;
  transition: .3s border-color;
}
.inp:hover {
  border: 1px solid #aaa;
}

.total_div {
  border-radius: 5px;
  color: #fff;
  font-family: verdana, 'open sans', sans-serif;
  padding: 10px 14px 10px 44px;
  position: relative;
  box-shadow: 0px 1px 5px #999;
  background-color: darkslategrey;
}

h1 {
  font-family: verdana, 'open sans', sans-serif;
}

.createOrdSup {
  font-family: verdana, 'open sans', sans-serif;
  margin-left: 10px;
}

.tableOrd {
  margin-top: 30px;
}

.btn {
  display: inline-block;
  box-sizing: border-box;
  padding: 0 20px;
  margin: 25px 15px 15px 0;
  font-family: verdana, 'open sans', sans-serif;
  outline: none;
  border: none;
  border-radius: 4px;
  height: 32px;
  line-height: 32px;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: #fff;
  background-color: darkslategrey;
  box-shadow: 0 2px #21487f;
  cursor: pointer;
  user-select: none;
  appearance: none;
  touch-action: manipulation;
  vertical-align: top;
}
.btn:hover {
  background-color: darkolivegreen;
}
.btn:active {
  background-color: #2f599e !important;
}
.btn:focus-visible {
  box-shadow: 0 0 0 3px lightskyblue;
}
.btn:disabled {
  background-color: #6c87b5;
  pointer-events: none;
}

label {
  font-family: verdana, 'open sans', sans-serif;
}

input {
  font-size: 16px;
}

.table_mini {
  width: 100%;
  margin-bottom: 20px;
}

.troy {
  justify-content: center;
  align-items: center;
}

td {
  width: 100%;
}

.table_mini td {
  width: fit-content;
}